# Уменьшаем контекст сборки: ускоряет docker build и исключает мусор из образа.

.git
.github
.gitignore
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/artifacts
**/publish
**/out
**/TestResults

**/*.md
!README.md

docs
adr
LICENSE.txt
.editorconfig

**/*.user
**/*.suo
**/*.rsuser

**/.DS_Store
**/Thumbs.db
